/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* fonts */

/* global style */
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: white;
}
a {
  text-decoration: none;
}
.button:hover {
  background-color: #ff015e;
}
.button {
  background-color: #e02c6d;
  color: whitesmoke;
  text-decoration: none;
  padding: 10px 24px;
  transition: 0.5s;
}
/* global style */

/* start header-section */
header {
  background-color: #2d25a0;
  /* background-size: auto; */
  display: flex;
  align-items: center;
  color: whitesmoke;
  justify-content: space-around;
  min-height: 90vh;
}
.half-width {
  width: 40%;
}
header h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
}
.header-right img {
  width: 100%;
  opacity: 0.7;
  transition: 0.5s;
}
.header-right img:hover {
  transform: scale(1.2);
  opacity: 1;
}
.fa-arrow-right {
  padding-left: 8px;
}
/* end header-section */

/* start article-section */
.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  grid-gap: 30px;
  margin: 10% 15%;
}
.photo-album {
  width: 330px;
  height: 474px;
  background-color: white;
  transition: 0.5s;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.photo-frame {
  padding: 15px;
}
.photo-album:hover {
  transform: scale(1.05);
}
.photo-frame img {
  width: 100%;
  transition: 0.5s;
  opacity: 0.9;
}
.photo-frame img:hover {
  opacity: 1;
}
/* end article-section */

/* start footer-section */
.footer-container {
  text-align: center;
}
.social-links a {
  padding-right: 15px;
}
.social-links {
  text-align: center;
  font-size: 25px;
  text-decoration: none;
}
.footer-logo img {
  width: 483px;
  height: 110px;
}
.footer-container p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.fa {
  color: gray;
  transition: 0.4s;
}
.fa-facebook:hover {
  color: #4267b2;
}
.fa-twitter:hover {
  color: #00acee;
}
.fa-youtube:hover {
  color: #ff0000;
}
.fa-instagram:hover {
  color: #bc2a8d;
}
/* end footer-section */
